@import "tailwindcss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    column-gap: 2.5rem;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 4px 3px rgba(181, 181, 181, 0.25);
    z-index: 99;
    height: 100px;
    font-size: 30px;
}

.nav-links {
    display: flex;
    gap: 5rem;
    align-items: center;
    color: #515151;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}


.nav-links a:hover {
    color: #3283ff;
}

.router-link-active {
    color: #3283ff;
    font-weight: 700;
    text-decoration: underline;
}

/* CalendarPage.css */

.calendar-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #E7E7E8;
}

.calendar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    border-top: 2px solid #C9CACC;
    border-radius: 0;
    padding: 1rem 2rem;
}

.calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.download-btn {
    background-color: #13B5EA;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #0ca2d6;
}

.rbc-event {
    background-color: #005599 !important;
    color: white !important;
    border-radius: 8px;
    font-size: 0.85rem;
    padding: 2px 6px;
}
